.leaflet-pop-content p{
    margin: 0.2em, 0;
}

.leaflet-container {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#map {    
    height: 500px;    
    width: 100%;
    /*display: inline-block;*/
}

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(216,220,220, 0.5);  
    padding: 10px;  
    line-height: 25px;  
    text-align: center;  
    border: solid gray 1px;  
    box-shadow: 3px 3px 3px rgb(99, 99, 99)
} 

.legend-control-container {  
    width: 140px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(216, 220, 220, 0.5);
    padding: 10px;   
    border: solid gray 1px;
    box-shadow: 3px 3px 3px rgb(120, 120, 120)
}
    
/* Add some basic styles to the range slider */
.range-slider {
    width: 200px;
    height: 5px;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 2;
}

.step {  
    width: 20%;
}  
    
.step img {  
    width: 30px; 
    height:20px
}



/* icons */
#forward {
    float: right;
    }

#reverse {  
    float: left;  
    }

#credits{
    margin-top: 9px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #5452526b;
    text-align: center;
}

.temporalLegend{
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    pointer-events: auto;
    cursor: auto;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
   /* font-weight: bold; */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#title{
    width: auto;
    padding: 5px;
    border-radius: 1%;
    text-align: center;
    background-color: #636363;
    color: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 9px;
    font-family: Georgia, serif;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgb(168, 168, 168);
}

#mapcontent{
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #5452526b;
}

body {
    background-color: #f0f0f0;
  }

/* CSS style for mobile */
@media only screen and (max-width: 764px) {
    #map {
      height: 400px;
    }

    .sequence-control-container {  
        width: 350px;  
        height: 30px;  
        background-color: rgba(216,220,220, 0.5);  
        padding: 10px;  
        line-height: 25px;  
        text-align: center;  
        border: solid gray 1px;  
        box-shadow: 3px 3px 3px rgb(99, 99, 99)
    } 

    .temporalLegend {
      font-size: 12px;
    }
  
    #title {
      font-size: 16px;
    }
    
  }