.leaflet-pop-content p{
    margin: 0.2em, 0;
}

#map {    
    height: 500px;    
    width: 100%;
    /*display: inline-block;*/
}

/*
#panel {  
    width: 20%;  
    padding: 10px;  
    display: inline-block;  
    vertical-align: top;  
    text-align: center;  
    line-height: 42px;
}*/

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 25px;  
    text-align: center;  
    border: solid gray 1px;  
    box-shadow: 3px 3px 3px lightgray
} 

.legend-control-container {  
    width: 150px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;   
    border: solid gray 1px
}
    
/* Add some basic styles to the range slider */
.range-slider {
    width: 200px;
    height: 5px;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 2; /* Fully shown on mouse-over */
}

.step {  
    width: 20%;
}  
    
.step img {  
    width: 30px; 
    height:20px
}



/* icons */
#forward {
    float: right;
    }

#reverse {  
    float: left;  
    }

#credits{
    margin-top: 9px;
    font-family: Helvetica, sans-serif;
    color: #5452526b;
    text-align: center;
}

.temporalLegend{
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    pointer-events: auto;
    cursor: auto;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mycontent{
    width: auto;
    padding: 5px;
    border-radius: 1%;
    text-align: center;
    background-color: #636363;
    color: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 9px;
    font-family: Georgia;
    font-size: 20px;
    box-shadow: 3px 3px 3px lightgray;
}

body {
    background-color: #f0f0f0;
  }