/* Activity 11: CSS style for D3 Map*/

.map {
    fill: #E3DA93;
    stroke: #464545;
    stroke-width: 0.5px;
    stroke-linecap: round;
    /* stroke-dasharray: 2,2; */
    border: medium solid #8e8e8e;
    margin: 10px 0 0 20px;
}
  
.mapTitle {
    background-color: #538a64;
    width: auto;
    height: 20px;
   /* border: 1px solid #464545;*/
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#e3f0de;
    box-shadow: 2px 2px 5px 2px #8e8e8e;
}

/* hyperlinks style*/
a:-webkit-any-link {
    color: #538a64;
    cursor: pointer;
    text-decoration: underline;
}

.mapDesc{
    margin-left: 20px;
    margin-right: 20px;
    max-width: auto;
    text-align: auto;
    position: absolute;
    bottom: -250px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color:#91a28a;
}

.credits{
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color:#91a28aa0;
    text-align: center;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

/* Chart style */

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #464545;
}

.chartBackground {
    fill: #ffffff00;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    fill: #999;
}

/* dropdown */
.dropdown {
    position: absolute;
    background-color: #e3f0de;
    /* top: 30px;
    left: 40px; */
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
    color: #464545;
}

option {
    font-weight: normal;
}

/* Dynamic label design */
.infolabel {    
    margin: 0 20px 0 0; 
    z-index: 11;   
    position: absolute;
    height: auto;
    min-width: auto;
    color: #464545;
    background-color: #e3f0deea;
    border: solid thin #464545;
    padding: 5px 10px;
    top: -100px;
    font-family: 'Open Sans', sans-serif;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
}

/* color legend */
.legend{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color:#8e8e8e;
}

body {
    background-color: #f9fdf8ea;
}